.button-primary__button {
  border: 1px solid #FAFAFA;
  border-radius: 3px;
  outline: none;
  color: #FAFAFA;
  width: 50%;
  height: 30px;
  cursor: pointer;
}

.button-primary__button.valid {
  background-color: #2997FF;
}

.button-primary__button.invalid {
  background-color: #A9A9A9;
}