.input__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  input {
    border: 1px solid gray;
    border-radius: 3px;
    height: 25px;
    box-sizing: border-box;
  }

  input.red-border {
    border-color: #D91313;
    border-width: 3px;
  }
}